<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo0921.dao.DepartmentDao">

    <select id="getDepartments" resultMap="department">
        select *
        from mybatis.department;
    </select>

    <resultMap id="department" type="com.example.demo0921.pojo.Department">
        <result property="departmentName" column="name"/>
    </resultMap>
</mapper>